*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea

# System files #
################
.DS_Store

# Compiled sources #
####################
target
classpath.out

# Eclipse metadata #
####################
.classpath
.project
.settings

# Editor temporary #
####################
*.swp
preprocessing/parser/jay_march_2016_2_march_2017.timeline
data/
preprocessing/parser/data/
*.pyc

# Results #
###########

anchors_results
geosheets_cleaned.txt
partitions.txt
results.zip
frequents_cleaned_segments.txt
frequents_custom_segments.txt
cleaned_grouped_results.1.txt
cleaned_grouped_results.txt
constructed_grouped_results.txt
constructed_results.txt
grounded_anchors_50.txt
trips_modes.txt
trips_times.txt

env